%h2
  Trainings
  %small
    (#{@trainings.count})

    - if can? :create, Training
      = link_to new_training_path do
        %i.fa.fa-plus
        Add a Training

- if @trainings.count > 0
  - @trainings.each do |training|
    %div
      %h4
        %span{ class: "badge badge-#{training.training_type_format}" }
          - if training.icon.present? && !training.icon.blank?
            %i{ class: "fa fa-#{training.icon}" }
          - else
            %i{ class: "fa fa-trophy"}
          = training.name
        %small
          = link_to edit_training_path(training) do
            %i.fa.fa-pencil
            Edit
- else
  %p.text-muted
    No trainings available.
