.jumbotron
  .row.justify-content-center
    .card
      .card-block.d-flex.justify-content-center
        %h5.card-title.mb-0
          %i.fa.fa-check-square-o
          = "People Trained on #{@training.name}:"
      .card-block
        %ul.list-group.list-group-flush

          - @users_trained_on.each do |user_training|
            %li.list-group-item.justify-content-between
              - user =  User.find(user_training.user_id)
              - if user.user_type != "Member"
                = link_to user.full_name, user_path(user), { :style => "color: #76bf43"}
                = "(Coach)"
              - else
                = link_to user.full_name, user_path(user), { :style => "color: rgba(70, 74, 76, 1)"}

              %h7.mb-0.mr-5

              %h6.mb-0
                %small
