.row
  .jumbotron.w-100.d-flex.justify-content-center
    .row
      %h2 Shifts
      %table.table.table-bordered.table-striped.table-responsive
        %thead
          %tr
            %th.align-middle{scope: "col", :style => "background-color: #76bf43; color:white"} Time
            - j = 1
            -  uniquedays = {}
            - prev_signup_day = -1
            - Signup.all.order(:signup_day).each do |id|
              - if id.signup_day != prev_signup_day
                %th.align-middle{scope: "col",:style => "min-width: 120px; background-color: #76bf43; color:white"}
                  - uniquedays[j] = id.signup_day
                  - j += 1
                  = Signup::SIGNUP_DAYS_R[id.signup_day]
              - else
              - prev_signup_day = id.signup_day
            -# - puts uniquedays
            - prev_signup_print_val = ""

            - if can? :create, Signup
              %th
                = link_to new_signup_path, class: "btn btn-outline btn-sm signup-delete" do
                  %i.fa.fa-plus
                  Add Shift Slot (Admin)

        %tbody
          - @signups.order(:signup_start).each do |timerow|
            - prev_user = ""
            - i = 1
            - loop do
              - signup_print_val = timerow.signup_start.strftime("%I") + " " + timerow.signup_start.strftime("%p")+ " - " +  timerow.signup_end.strftime("%I") + " " + timerow.signup_end.strftime("%p")
              - if signup_print_val == prev_signup_print_val
                - break
              - else
                %tr
                  %td.signups.align-middle{:style => "font-weight: bold; padding: 8px" }
                    = signup_print_val
                  - uniquedays.each_with_index do |day,index|
                    - success = false
                    - daycol = uniquedays[index + 1]

                    %td.signups
                      .d-flex.justify-content-center
                        - if Signup.where(signup_day: daycol, signup_start: timerow.signup_start).exists?
                          - signup_link = Signup.where(signup_day: daycol, signup_start: timerow.signup_start).take!

                          - if UserSignup.where(user_id: current_user.id, signup_id: signup_link.id).exists?
                            -# Delete shift signup button
                            = form_tag '/signups/dropsignup' do

                              = hidden_field_tag(:signup_id, signup_link.id)
                              = hidden_field_tag(:user_id, current_user.id)

                              = submit_tag "Drop Shift", class: 'btn btn-outline-danger btn-sm w-100 mb-1', style: "min-width: 27px", data: {:confirm => 'Are you sure you want to drop this shift?'}
                          - else

                            -# Signup for shift button
                            = form_for [@user, @user_signup] do |f|
                              .form_group
                                = f.hidden_field :signup_id, :value => signup_link.id
                              = submit_tag "Take Shift", class: 'btn btn-light btn-sm btn-outline-primary mb-1 w-100'
                          - if can? :destroy, Signup
                            = link_to 'Remove Slot',{:controller => 'signups', :action => 'destroy', :id => signup_link.id }, class: "btn btn-outline btn-sm signup-delete mb-1", |
                              data:  {:method => :delete, :remote => true}
                          - else
                        - else

                      - k = 1
                      - UserSignup.all.each do |usersignup|
                        - begin
                          - ind_signup = Signup.all.find(usersignup.signup_id)
                          - if ind_signup.signup_start == timerow.signup_start && daycol == ind_signup.signup_day
                            - user = User.all.find(usersignup.user_id)
                            .row.d-flex.justify-content-center
                              = link_to user.full_name, user_path(user), style: "color:black", class: "mr-3 ml-3"

                        - rescue

              .tr
              - if 1 == i
                - prev_signup_print_val = signup_print_val
                - break
              - else
              - i += 1
