.row.d-flex.justify-content-center
  .jumbotron.md-12.d-flex.justify-content-center
    .div
      .row.d-flex.justify-content-between
        %h2 Shifts
      - if can? :destroy, Signup
        - if can? :toggle_admin_view, Setting
          = link_to settings_toggle_admin_view_path, class: "btn btn-outline admin-delete" do
            Toggle Admin View (Admin)
      - if Setting.admin_view == "enabled"
        - if can? :toggle_signup_status, Setting
          - if Setting.signup_status == "closed"
            = link_to  "Open Signups for Coaches (Admin)", settings_toggle_signup_status_path, class: "btn btn-outline admin-delete"
          - else
            = link_to  "Close Signups for Coaches (Admin)", settings_toggle_signup_status_path, class: "btn btn-outline admin-delete"
        - if can? :toggle_signup_status, Setting
          = link_to new_user_user_signup_path(:user_id => current_user.id), class: "btn btn-outline admin-delete" do
            Manual Shift-Assign (Admin)
        - if can? :toggle_signup_status, Setting
          = link_to new_signup_path, data: { modal: true }, class: "btn btn-outline admin-delete" do
            %i.fa.fa-plus
            Add Shift Slot (Admin)
        - if can? :clearusersignups, Signup
          = form_tag '/signups/clearusersignups' do
            = submit_tag "Clear All Current User Signups (Developer)", class: 'btn btn-outline admin-delete', data: {:confirm => 'Are you sure you want to clear all current coach signups? (This will remove the user signups, not the slots.)'}
          -# = link_to  "Clear all Current User Signups (Admin)", signups_clearusersignups_path, class: "btn btn-outline admin-delete"


      = link_to settings_toggle_deficient_trainings_view_path, class: "btn btn-outline toggle-display-btn" do
        - if Setting.deficient_trainings_view == "disabled"
          %i.fa.fa-eye
          Show Deficient Trainings
        - else
          %i.fa.fa-eye-slash
          Hide Deficient Trainings
      .container
        .table-responsive
          %table.table.table-bordered.table-striped
            %thead
              %tr
                %th.align-middle.signup-header.text-center{scope: "col"} Time
                - j = 1
                -  uniquedays = {}
                - prev_signup_day = -1
                - Signup.all.order(:signup_day).each do |id|
                  - if id.signup_day != prev_signup_day
                    %th.align-middle.signup-header.text-center{scope: "col"}
                      - uniquedays[j] = id.signup_day
                      - j += 1
                      = Signup::SIGNUP_DAYS_R[id.signup_day]
                  - else
                  - prev_signup_day = id.signup_day
                - prev_signup_print_val = ""

            %tbody
              - @signups.order(:signup_start).each do |timerow|
                - prev_user = ""
                - i = 1
                - loop do
                  - signup_end = timerow.signup_start + 1.hours
                  - signup_print_val = timerow.signup_start.strftime("%I") + " " + timerow.signup_start.strftime("%p")+ " - " +  signup_end.strftime("%I") + " " + signup_end.strftime("%p")
                  - if signup_print_val == prev_signup_print_val
                    - break
                  - else
                    %tr
                      %td.signups.align-middle.text-nowrap.text-center{:style => "font-weight: bold" }
                        = signup_print_val
                      - uniquedays.each_with_index do |day,index|
                        - success = false
                        - daycol = uniquedays[index + 1]

                        %td.signups
                          .d-flex.justify-content-center.flex-column
                            - if Signup.where(signup_day: daycol, signup_start: timerow.signup_start).exists?
                              - signup_link = Signup.where(signup_day: daycol, signup_start: timerow.signup_start).take!
                              - if Setting.admin_view == "disabled"
                                - if UserSignup.where(user_id: current_user.id, signup_id: signup_link.id).exists? && Setting.signup_status == 'open'
                                  -# Delete shift signup button
                                  = form_tag '/signups/dropsignup' do
                                    = hidden_field_tag(:signup_id, signup_link.id)
                                    = hidden_field_tag(:user_id, current_user.id)
                                    = submit_tag "Drop Shift", class: 'btn btn-outline-danger btn-sm w-100 mb-1', data: {:confirm => 'Are you sure you want to drop this shift?'}
                                - else
                                  - if Setting.signup_status == 'open'
                                    -# Signup for shift button
                                    = form_for [@user, @user_signup] do |f|
                                      .form_group
                                        = f.hidden_field :signup_id, :value => signup_link.id
                                        = f.hidden_field :user_id, :value => current_user.id
                                      = submit_tag "Take Shift", class: 'btn btn-light btn-sm btn-outline-primary mb-1 w-100'

                              - if can? :dropsignup, Signup
                                - if Setting.admin_view == "enabled"
                                  = link_to 'Remove Entire Slot',{:controller => 'signups', :action => 'destroy', :id => signup_link.id }, class: "btn btn-primary btn-sm admin-delete mb-1", |
                                    data:  {:method => :delete, :remote => true}
                                  = form_for [@user, @user_signup] do |f|
                                    = f.hidden_field :signup_id, :value => signup_link.id
                                    = f.select :user_id, options_from_collection_for_select(@users, 'id', 'full_name'), { include_blank: true }, class: "form-control form-control-sm"
                                    .d-flex.justify-content-center
                                      = f.submit "Add Selected Coach to Shift", class: "btn btn-primary signup-coach-add btn-sm"

                              - else
                            - else

                          - k = 1
                          - user_day_arr = []
                          - UserSignup.all.each do |usersignup|
                            - begin
                              - ind_signup = Signup.all.find(usersignup.signup_id)
                              - if ind_signup.signup_start == timerow.signup_start && daycol == ind_signup.signup_day
                                - user = User.all.find(usersignup.user_id)
                                - user_day_arr.push(user)
                                .text-center
                                  = link_to user.full_name, user_path(user), style: "color:black", class: "text-nowrap"
                                  - if Setting.admin_view == "enabled"
                                    .d-inline-block
                                      = form_tag '/signups/dropsignup' do
                                        = hidden_field_tag(:signup_id, signup_link.id)
                                        = hidden_field_tag(:user_id, user.id)
                                        = submit_tag "X", class: 'd-inline-block btn btn-outline-danger btn-sm mb-1'
                            - rescue
                          - unique_trainings = Set[]
                          - trainings_left = []
                          - user_day_arr.each do |day_user|
                            - unique_trainings.merge(User.find(day_user).trainings.select(:id).map{|k| k.id}.to_a)
                            - trainings_left = Training.select(:id).map{|k| k.id}.to_a - unique_trainings.to_a
                          - if Setting.deficient_trainings_view == "enabled"
                            - trainings_left.each do |uniq_training|
                              - training_i = Training.find(uniq_training)
                              %span{ class: "badge badge-#{training_i.training_type_format}" }
                                - if training_i.icon.present? && !training_i.icon.blank?
                                  %i{ class: "fa fa-#{training_i.icon}" }
                                - else
                                  %i{ class: "fa fa-trophy"}
                                = training_i.name
                  .tr
                  - if 1 == i
                    - prev_signup_print_val = signup_print_val
                    - break
                  - else
                  - i += 1
