.row.m-auto
  - @users.each do |user, training|
    .col-lg-8.col-xl-4.d-flex.align-items-stretch.p-1{:style=>"max-width: 270px"}
      .card.mb-10.w-100.d-flex
        .card-body
          .card-title{ :style=>"border-bottom: 1px solid #aaa; padding: 10px 0px 0px 10px"}
            %h5.p.1.mb-1
              = link_to user.full_name, user_path(user), { :style => "color: rgba(70, 74, 76, 1)"}
            %h6{ :style => "color: rgba(70, 74, 76, 0.8)"}
              = user.user_type
          .card-text.mb-10{:style=>"padding: 0px 10px 0px 10px"}
            - if can? :read, UserTraining
              %h6

              - if user.trainings.where(training_type: "Paperwork").count <= 0
                %p.card-text.text-muted{:style => "padding-bottom: 10px"}
                  #{user.first_name} has no onboarding

              - if user.trainings.count > 0

                - user.trainings.where(training_type: "Paperwork").each do |training|
                  %span{ class: "badge badge-#{training.training_type_format}" }
                    - if training.icon.present? && !training.icon.blank?
                      %i{ class: "fa fa-#{training.icon}" }
                    - else
                      %i{ class: "fa fa-trophy"}
                    = training.name
              - if user.trainings.count > 5
                .d-flex.justify-content-start
                  %h6
                    = link_to user_path(user), style: "color: rgba(70, 74, 76, 0.8)" do
                      +
                      = user.trainings.count - 5
                      more...
        .card-footer.mt-auto.coach-card{:class => ("completed-agreement" if user.trainings.exists?(name: 'Maker Coach Agreement'))}
          Maker Coach Agreement
          - if user.trainings.exists?(name: 'Maker Coach Agreement')
            Completed
          - else
            Missing
