.user-list__user.mb-2
  .user-list__user-avatar.mr-2
    = link_to user_path(user) do
      - if user.profile_image_url.present?
        .user-list__user-image{style: "background-image: url('#{user.profile_image_url}')"}
      - else
        %i.fa.fa-user
  .user-list__user-details
    %h5
      = link_to user.full_name, user_path(user)
      %small
        = user.user_type

    - if user.checked_in?
      - message = "Out"
    - else
      - message = "In"
    = form_tag checkin_path, class: "user-list__check-button mt-2" do
      = hidden_field_tag :email, user.email.chomp("@mtu.edu")
      = submit_tag "Check #{message}", class: 'btn btn-sm btn-primary'
