.row
  .col-md-12
    %h4
      Users Created by Week

    #users-created-by-week{:style => "width: 100%; height: 400px;"}

    %h4
      Check Ins Created by Week
    #punches-created-by-week{:style => "width: 100%; height: 400px;"}

.row
  .col-md-4.text-center
    %h1
      #{User.count}
    %h5
      Total Users

  .col-md-4.text-center
    %h1
      #{User.where("created_at > ?", 7.days.ago).count}
    %h5
      New #{'User'.pluralize(User.where("created_at > ?", 7.days.ago).count)} in Last 7 Days

  .col-md-4.text-center
    %h1
      #{Punch.where(in: true).count}
    %h5
      Total Check Ins

%script
  var usersCreatedByWeek = #{raw @users_created_by_week.to_json}
  var punchesCreatedByWeek = #{raw @punches_created_by_week.to_json}
