.row
  .col-lg-6.offset-lg-3.col-md-12
    .card
      .card-block
        %h3.card-title
          %i.fa.fa-lock
          Update Password

        - unless @user.errors.empty?
          .alert.alert-danger
            %strong
              #{pluralize(@user.errors.size, 'error')} occurred

            %ul
              - @user.errors.full_messages.each do |error|
                %li
                  = error

        = form_for @user, url: update_password_user_path(@user) do |f|
          .form-group
            = f.label :password
            = f.password_field :password, class: "form-control"

          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: "form-control"

          = f.submit "Update Password", class: "btn btn-primary"
