.row
  .col-md-4
    .card
      - if @user.profile_image_url.present?
        = image_tag @user.profile_image_url, class: 'card-img-top'
      .card-block
        %h4.card-title
          = @user.full_name
          - if @user.position_name.present?
            %small.block
              = @user.position_name
        %p.card-text
          - if @user.biography.present?
            = @user.biography
          %small.text-muted
            Member since #{@user.member_since.strftime('%B %-d, %Y')}

      %ul.list-group.list-group-flush
        - if @user.twitter_username.present?
          %li.list-group-item
            = link_to "https://twitter.com/#{@user.twitter_username}" do
              %i.fa.fa-twitter
              @#{@user.twitter_username}
        - if @user.facebook_username.present?
          %li.list-group-item
            = link_to "https://facebook.com/#{@user.facebook_username}" do
              %i.fa.fa-facebook
              \/#{@user.facebook_username}
        - if @user.github_username.present?
          %li.list-group-item
            = link_to "https://github.com/#{@user.github_username}" do
              %i.fa.fa-github
              \/#{@user.github_username}
        - if @user.slack_username.present?
          %li.list-group-item
            = link_to "slack://user?team=T20T77H1T" do
              %i.fa.fa-slack
              @#{@user.slack_username}

      - if can? :edit, @user
        .card-block
          = link_to edit_user_path(@user), class: "card-link" do
            %i.fa.fa-pencil
            Edit Profile

          - if can? :password, @user
            %div
              = link_to password_user_path(@user), class: "card-link" do
                %i.fa.fa-lock
                Change Password

  .col-md-8
    - if can? :read, Punch
      %h5.mb-2
        %i.fa.fa-check-square-o
        Check In's & Out's

      - if @user.punches.count > 0
        %ul.list-group
          - @user.punches.each do |punch|
            %li.list-group-item.justify-content-between
              %h5
                = punch.created_at.strftime("%r on %B %-d, %Y")
                %small
                  - if punch.in?
                    %i.fa.fa-sign-in
                    In
                  - else
                    %i.fa.fa-sign-out
                    Out
      - else
        %p.text-muted
          #{@user.first_name} has no check in's or out's

