.row
  .col-md-4
    .card.mb-2
      - if @user.profile_image_url.present?
        = image_tag @user.profile_image_url, class: 'card-img-top'
      .card-block
        %h5.card-title.mb-0
          = @user.full_name
          - if @user.position_name.present?
            %small.block
              = @user.position_name
          - if @user.user_type.present?
            %small.block
              = @user.user_type



      %ul.list-group.list-group-flush
        - if @user.user_type == 'Staff' || @user.user_type == "Admin"
          - if @makeragree == true
            %li.list-group-item{:style => "background-color: #d4edda; color:#155724"}
              %i.fa.fa-check-square.pr-2
              Completed Maker Coach Agreement
          - else
            %li.list-group-item{:style => "background-color: #ebcccc; color:#a94442"}
              %i.fa.fa-user-times.pr-2
              Has not Completed Maker Coach Agreement!
        - else
        %li.list-group-item
          Member since #{@user.member_since_fancy}

        %li.list-group-item
          Last logged in #{@user.last_sign_in_fancy}

    - if @user.any_social_media?
      .card.mb-2
        .card-block
          %h5.card-title.mb-0
            Social Media

        %ul.list-group.list-group-flush
          - if @user.twitter_username.present?
            %li.list-group-item
              = link_to "https://twitter.com/#{@user.twitter_username}" do
                %i.fa.fa-twitter
                @#{@user.twitter_username}
          - if @user.facebook_username.present?
            %li.list-group-item
              = link_to "https://facebook.com/#{@user.facebook_username}" do
                %i.fa.fa-facebook
                \/#{@user.facebook_username}
          - if @user.github_username.present?
            %li.list-group-item
              = link_to "https://github.com/#{@user.github_username}" do
                %i.fa.fa-github
                \/#{@user.github_username}
          - if @slack_username.present?
            %li.list-group-item
              = link_to "slack://user?team=T20T77H1T&id=#{@user.slack_user_id}" do
                %i.fa.fa-slack
                @#{@slack_username}

    - if can? :edit, @user
      .card
        .card-block
          %h5.card-title.mb-0
            User Settings

        %ul.list-group.list-group-flush
          %li.list-group-item
            = link_to edit_user_path(@user), class: "card-link" do
              %i.fa.fa-pencil
              Edit Profile

          - if can? :password, @user
            %li.list-group-item
              = link_to password_user_path(@user), class: "card-link" do
                %i.fa.fa-lock
                Change Password

  .col-md-8
    - if @user.biography.present? || @user.interests.present? || @user.specialties.present?
      .card.mb-2
        .card-block
          %h5.card-title.mb-0
            About #{@user.first_name}

          - if @user.biography.present?
            %p.card-text
              = @user.biography

          - if @user.interests.present?
            %h6.card-title.mb-0
              Interests

            %p.card-text
              = @user.interests

          - if @user.specialties.present?
            %h6.card-title.mb-0
              Specialties

            %p.card-text
              = @user.specialties

    - if can? :read, UserTraining
      .card.mb-2
        .card-block
          %h5.card-title.mb-0
            %i.fa.fa-trophy.mb-2
            User Trainings
            - if can? :create, UserTraining
              %small
                = link_to new_user_user_training_path(@user), data: { modal: true } do
                  %i.fa.fa-plus
                  Add Training

          - unless @user.trainings.count > 0
            %p.card-text.text-muted
              #{@user.first_name} has no trainings

          - if @user.trainings.count > 0
            - @user.trainings.order(created_at: :desc).each_with_index do |training|
              %span.training-bubble.mb-1{ class: "badge badge-#{training.training_type_format}"}
                - if training.icon.present? && !training.icon.blank?
                  %i.training-bubble{ class: "fa fa-#{training.icon}"}
                - else
                  %i.training-bubble{ class: "fa fa-trophy"}
                = training.name
                .badge
                  = form_tag '/trainings/droptraining' do
                    = hidden_field_tag(:training_id, training.id)
                    = hidden_field_tag(:user_id, current_user.id)
                    = submit_tag "X", class: 'btn btn-outline-primary admin-delete-nice btn-sm'


    - if can? :read, Punch
      .card
        .card-block
          %h5.card-title.mb-0
            %i.fa.fa-check-square-o
            Check In and Out Punches

          - unless @user.punches.count > 0
            %p.card-text.text-muted
              #{@user.first_name} has not checked in or out

        - if @user.punches.count > 0
          %ul.list-group.list-group-flush
            - @user.punches.each do |punch|
              %li.list-group-item.justify-content-between
                %h6.mb-0
                  = punch.created_at.strftime("%r on %B %-d, %Y")
                  %small
                    - if punch.in?
                      %i.fa.fa-sign-in
                      In
                    - else
                      %i.fa.fa-sign-out
                      Out
