- unless @user_signup.errors.empty?
  .alert.alert-danger
    %strong
      #{pluralize(@user_signup.errors.size, 'error')} occurred

    %ul
      - @user_signup.errors.full_messages.each do |error|
        %li
          = error

= form_for [@user, @user_signup] do |f|
  .form-group
    = f.label :signup
    = f.collection_select :signup_id, Signup.all, :id, :selection_format, {}, class: "form-control"
  .form_group
    = f.label :user
    = f.select :user_id, options_from_collection_for_select(@users, 'id', 'full_name'), {}, class: "form-control"
  .form_group
  = f.submit class: "btn btn-primary"
