.row
  .col-lg-8.offset-lg-2.col-md-12
    .jumbotron.mb-1
      %h1.display-6
        Welcome to The Alley

      %p.lead
        This is the Alley application for tracking makers and coaches in the space,
        trainings and other related information.

      %hr.my-2
      %p
        If you're a coach and need access, you're interested in reserving the space
        or any other questions, please email us
        = mail_to 'makerspace@mtu.edu'

      = link_to checkin_path, class: "btn btn-primary mr-2" do
        %i.fa.fa-sign-in
        Check In

      = link_to new_user_session_path, class: "btn btn-primary" do
        %i.fa.fa-sign-in
        Sign In
    .jumbotron
      .row.d-flex.justify-content-center
        .col-5.text-center.card.mr-2.mb-2
          %h1
            #{User.count}
          %h5
            Total Alley Users

        .col-5.text-center.card.ml-2.mb-2
          %h1
            #{Punch.where(in: true).where("created_at > ?", 7.days.ago).count}
          %h5
            Check Ins in the Last 7 Days
