.row.d-flex.justify-content-center
  .col-lg-8.col-md-12.d-flex.justify-content-center
    .jumbotron.d-flex.justify-content-center{:style => "padding-top: 32px; padding-bottom: 32px"}
      .card{:style => "padding:4px"}
        .card-block
          .d-flex.justify-content-between
            %h3.card-title
              = @event.name
            %h3.card-title
              = link_to "Edit Event", edit_event_path(@event)
          %ul.list-group.list-group-flush
            %li.list-group-item.d-flex.justify-content-between
              %h5{:style => "padding-right: 30px"}
                Event Type:
              %h5.text-muted
                = @event.audience
            %li.list-group-item.d-flex.justify-content-between
              %h5{:style => "padding-right: 30px"}
                Hosted by:
              %h5.text-muted
                = @event.org_name
            %li.list-group-item.d-flex.justify-content-between
              %h5{:style => "padding-right: 30px"}
                Organization Contact:
              %h5.text-muted
                = @event.org_contact_name
            %li.list-group-item.d-flex.justify-content-center
              %h5{:style => "padding-right: 30px"}
                Timing:
              .list-group-item.d-flex.justify-content-between
                %h6.text-muted{:style => "padding-right: 30px"}
                  Starts:
                %h6.text-muted
                  = @event.event_start.strftime("%A, %B %-d,")
                  = @event.event_start.strftime("%-I:%M %p to")
              .list-group-item.d-flex.justify-content-between
                %h6.text-muted{:style => "padding-right: 30px"}
                  Ends:
                %h6.text-muted
                  = @event.event_end.strftime("%A, %B %-d,")
                  = @event.event_end.strftime("%-I:%M %p")
            %li.list-group-item.d-flex.justify-content-center
              %h5{:style => "padding-right: 30px"}
                Description:
              .row.d-flex.justify-content-center
                %h5.text-muted
                  =@event.desc
          -if can? :destroy, Event
            .hr.d-flex.justify-content-center.pt-1
              = link_to 'Delete', @event, method: :delete, class: "btn btn-outline-danger", data: { confirm: 'Are you sure? This is irreversible.' }

.jumbotron
  - if can? :read, Punch
    .card
      .card-block
        %h5.card-title.mb-0
          %i.fa.fa-check-square-o
          Users that attended the event
          (
          = Punch.all.where(reason: @event.id).select("DISTINCT ON (user_id) *").size
          Total )


      - unless Punch.all.where(reason: @event.id).count > 0
        %p.card-text.text-muted
          No one has attended this event.

      - if Punch.all.where(reason: @event.id).count > 0
        %ul.list-group.list-group-flush
          - @attendees.each do |punch|
            - if punch.in?
              %li.list-group-item.d-flex.justify-content-between
                %h6.mb-0
                  - attendee = User.all.find(punch.user_id)
                  = attendee.first_name
                  = attendee.last_name
                = punch.created_at.strftime("%r")
