
- unless @survey.errors.empty?
  .alert.alert-danger
    %strong
      #{pluralize(@survey.errors.size, 'error')} occurred

    %ul
      - @survey.errors.full_messages.each do |error|
        %li
          = error

= form_tag @survey do

  - available_training = @available_trainings.first

  %h4
    = available_training.name
  .form-group
    = hidden_field_tag :survey, @survey
    = hidden_field_tag :user_id, current_user.id
    =# hidden_field_tag :user_id, current_user.id
  .form-group
    = hidden_field_tag :tool_id, available_training.id
    = #hidden_field_tag :tool_id, available_training.id
  .form-group
    = hidden_field_tag :tool_name, available_training.name

  .btn-group-vertical.btn-group-toggle.btn-block
    .label.btn.btn-primary{:style => "border-bottom-width:3px; padding-right:35px; border-bottom-color:rgb(236,238,239)"}
      = button_tag '1 (Very Unconfident)', name: :competency, value: '1', class: ' btn btn-primary'

    .label.btn.btn-primary{:style => "border-bottom-width:3px; padding-right:35px; border-bottom-color:rgb(236,238,239)"}
      = button_tag '2 (Small Amount of Actual Experience)', name: :competency, value: '2', class: 'btn btn-primary'

    .label.btn.btn-primary{:style => "border-bottom-width:3px; padding-right:35px; border-bottom-color:rgb(236,238,239)"}
      = button_tag '3 (Reasonably Confident)', name: :competency, value: '3', class: 'btn btn-primary'

    .label.btn.btn-primary{:style => "border-bottom-width:3px; padding-right:35px; border-bottom-color:rgb(236,238,239)"}
      = button_tag '4 (Very Confident)', name: :competency, value: '4', class: 'btn btn-primary'
