.col-lg-4.col-md-12
  .jumbotron
    %h3.mb-2
      %i.fa.fa-sign-in
      - if @active_events.count >= 1
        Not here for an event?
        Check in here
      - else
        Check in Here
    %p
      %small
        Using your @mtu.edu email address

    = form_tag checkin_path do
      .form-group
        .input-group.input-group-lg
          = text_field_tag :email, '', class: 'form-control', placeholder: 'Email', autofocus: true
          %span.input-group-addon.p-2
            @mtu.edu
      %h4.mb-2
        What are you here for?
      .btn-group-vertical.btn-group-toggle.btn-block
        .label.btn.btn-primary.i.fa.fa-sign-in{:style => "border-bottom-width:3px; padding-right:35px; border-bottom-color:rgb(236,238,239)"}
          = button_tag 'Personal Project', name: :reason, value: 'personal_project', class: ' btn btn-primary'

        -#   %input#personal_project{autocomplete: "off", name: :reason, type: "radio", value: 'personal_project'}/
        -#   Personal Project
        .label.btn.btn-primary.i.fa.fa-sign-in{:style => "border-bottom-width:3px; padding-right:35px; border-bottom-color:rgb(236,238,239)"}
          = button_tag 'Class Project', name: :reason, value: 'class_project', class: 'btn btn-primary'
        -#   %input#class_project{autocomplete: "off", name: :reason, type: "radio", value: 'class_project'}/
        -#   Class Project
        .label.btn.btn-primary.i.fa.fa-sign-in{:style => "border-bottom-width:3px; padding-right:35px; border-bottom-color:rgb(236,238,239)"}
          = button_tag 'Class Session', name: :reason, value: 'class_session', class: 'btn btn-primary'
        -#   %input#class_session{autocomplete: "off", name: :reason, type: "radio", value: 'class_session'}/
        -#   Class Session
        .label.btn.btn-primary.i.fa.fa-sign-in{:style => "border-bottom-width:3px; padding-right:35px; border-bottom-color:rgb(236,238,239)"}
          = button_tag 'Coaching', name: :reason, value: 'coaching', class: 'btn btn-primary'
        -#   %input#coaching{autocomplete: "off", name: :reason, type: "radio", value: 'coaching'}/
        -#   Coaching
  .jumbotron.text-center
    - if can? :destroy, User
      = link_to "View Checkin History", checkin_checkin_history_path
