.row
  .col-lg-6.offset-lg-3.col-md-12
    .jumbotron
      %h2.mb-2
        %i.fa.fa-sign-in
        Please check in
      %p
        %small
          Using your @mtu.edu email address

      = form_tag checkin_path do
        .form-group
          .input-group.input-group-lg
            = text_field_tag :email, '', class: 'form-control', placeholder: 'Email', autofocus: true
            %span.input-group-addon
              @mtu.edu
        %h4.mb-2
          What are you here for?
        .radio
          = label_tag 'personal_project' do
            = radio_button_tag :reason, 'personal_project', false
            Personal Project
        .radio
          = label_tag 'class_project' do
            = radio_button_tag :reason, 'class_project', false
            Class Project
        .radio
          = label_tag 'event' do
            = radio_button_tag :reason, 'event', false
            Event
        .radio
          = label_tag 'class_session' do
            = radio_button_tag :reason, 'class_session', false
            Class Session
        .radio
          = label_tag 'other' do
            = radio_button_tag :reason, 'other', false
            Other
        .input-group-btn
          = submit_tag 'Submit', class: 'btn btn-primary'

- if User.checked_in_users_count > 0
  .row
    .col-lg-6.offset-lg-3.col-md-12
      .jumbotron
        %h2.mb-2
          %i.fa.fa-sign-in
          All done? Please check out

        .list-group
          - @currently_checked_in_alph.each do |user, training|
            %div.list-group-item.list-group-item-action.flex-column.align-items-start.mb-10
              .d-flex.w-100.justify-content-between
                %h3.p.1.mb-1
                  = link_to user.full_name, user_path(user)
                %small
                  #{user.obfuscated_email}


              - if can? :read, UserTraining
                .w-100
                  %div
                    .d-flex.justify-content-between
                      %h5.align-self-end{ :style => "margin-bottom:0px"}
                        = user.user_type
                      = form_tag checkin_path do
                        = hidden_field_tag :user_id, user.id
                        = submit_tag "Check Out", class: 'btn btn-light btn-outline-primary'

                    %hr
                      - if can? :create, UserTraining
                        %h5
                          = link_to new_user_user_training_path(user) do
                            %i.fa.fa-plus
                            Add Training

                    - unless user.trainings.count > 0
                      %p.card-text.text-muted
                        #{user.first_name} has no trainings

                    - if user.trainings.count > 0
                      - user.trainings.order(created_at: :desc).each do |training|
                        %span{ class: "badge badge-#{training.training_type_format}" }
                          - if training.icon.present? && !training.icon.blank?
                            %i{ class: "fa fa-#{training.icon}" }
                          - else
                            %i{ class: "fa fa-trophy"}
                          = training.name
                          = link_to user_user_training_path(user, training), method: :delete, data: {confirm: "Are you sure you want to remove this training?"} do
                            %i.fa.fa-times
              - else
                .w-100
                  %div
                    .d-flex.justify-content-between
                      %h5.align-self-end{ :style => "margin-bottom:0px"}
                      = form_tag checkin_path do
                        = hidden_field_tag :user_id, user.id
                        = submit_tag "Check Out", class: 'btn btn-light btn-outline-primary'



        - if can? :read, UserTraining
          .d-flex.justify-content-center
            = form_tag '/checkin/checkout_all' do
              = submit_tag "Check Everyone Out", class: 'btn btn-primary'
