.row
  .col-lg-6.offset-lg-3.col-md-12
    .jumbotron
      %h2.mb-2
        %i.fa.fa-sign-in
        Please check in
      %p
        %small
          Using your @mtu.edu email address

      = form_tag checkin_path do
        .form-group
          .input-group.input-group-lg
            = text_field_tag :email, '', class: 'form-control', placeholder: 'Email', autofocus: true
            %span.input-group-addon
              @mtu.edu
        %h4.mb-2
          What are you here for?
        .radio
          = label_tag 'personal_project' do
            = radio_button_tag :reason, 'Personal Project', true
            Personal Project
        .radio
          = label_tag 'class_project' do
            = radio_button_tag :reason, 'class_project', false
            Class Project
        .radio
          = label_tag 'event' do
            = radio_button_tag :reason, 'event', false
            Event
        .radio
          = label_tag 'class_session' do
            = radio_button_tag :reason, 'class_session', false
            Class Session
        .radio
          = label_tag 'other' do
            = radio_button_tag :reason, 'other', false
            Other
        .input-group-btn
          = submit_tag 'Submit', class: 'btn btn-primary'

- if User.checked_in_users_count > 0
  .row
    .col-lg-6.offset-lg-3.col-md-12
      .jumbotron
        %h2.mb-2
          %i.fa.fa-sign-in
          All done? Please check out

        .list-group
          - @currently_checked_in.each do |user|
            %div.list-group-item.list-group-item-action.flex-column.align-items-start
              .d-flex.w-100.justify-content-between
                %h5.mb-1
                  #{user.first_name} #{user.last_name[0]}.
                %small
                  #{user.obfuscated_email}

              .d-flex.w-100.mb-2.mt-2.justify-content-end
                = form_tag checkin_path do
                  = hidden_field_tag :user_id, user.id
                  = submit_tag "Check Out", class: 'btn btn-sm btn-outline-primary'

              %small
                Checked in #{user.most_recent_punch.fancy_punch_datetime} for #{user.most_recent_punch.reason}
