!!!
%html
  %head
    %title Makerspace
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %script{:src => "https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = yield :css
    
  %body{ class: "#{yield(:body_class)}"}
    %nav.navbar.navbar-toggleable-md.navbar-inverse.navbar-custom.fixed-top
      %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      = link_to root_path do
        = image_tag "logo-alley-white.png", class: "logo"

      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item
              = link_to user_path(current_user), class: "nav-link" do
                %i.fa.fa-user
                #{current_user.full_name}
            %li.nav-item
              = link_to users_path, class: "nav-link" do
                %i.fa.fa-group
                Users
            - if can? :read, DailyReport
              %li.nav-item
                = link_to daily_reports_path, class: "nav-link" do
                  %i.fa.fa-sticky-note
                  Daily Reports
            - if can? :read, Signup
              %li.nav-item
                = link_to signups_path, class: "nav-link" do
                  %i.fa.fa-sticky-note
                  Shift Signups
            - if can? :coaches, User
              %li.nav-item
                = link_to coaches_users_path, class: "nav-link" do
                  %i.fa.fa-group
                  Coaches
            - if can? :metrics, User
              %li.nav-item
                = link_to metrics_users_path, class: "nav-link" do
                  %i.fa.fa-bar-chart
                  Metrics
            - if can? :create, User
              %li.nav-item
                = link_to new_user_path, class: "nav-link" do
                  %i.fa.fa-user-plus
                  New User
            - if can? :read, Training
              %li.nav-item
                = link_to trainings_path, class: "nav-link" do
                  %i.fa.fa-clipboard
                  Trainings
            %li.nav-item
              = link_to destroy_user_session_path, method: :delete, class: "nav-link" do
                %i.fa.fa-sign-out
                Sign Out
          - else
            %li.nav-item
              = link_to new_user_session_path, class: "nav-link" do
                %i.fa.fa-sign-in
                Sign In

    .container.container--main
      .row
        .col-md-12
          - if notice.present?
            .alert.alert-info
              = notice

          - if alert.present?
            .alert.alert-danger
              = alert

          = yield

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :javascript
